<!DOCTYPE html>
<html>
<head>
    <title>DR Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="auth-body">

    <div class="navbar">
        <div class="nav-title">DR Register</div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </div>

    <div class="auth-container">
        <div class="auth-card">

            <h2>Register</h2>

            <form method="POST" action="/register">
                <input type="text" name="name" placeholder="Enter Name" required>
                <input type="email" name="email" placeholder="Enter Email ID" required>
                <input type="password" name="password" placeholder="Enter Password" required>

                <button type="submit">Register</button>
            </form>

            <p class="bottom-link">
                Already have an account?
                <a href="/login">Login</a>
            </p>

        </div>
    </div>

</body>
</html>
